.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #ddd;
  height: 150px;
  padding: 40px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-text {
  font-size: small;
}

.Table {
  margin-bottom: 50px;
}

#AddressTable {
  border-collapse: collapse;
}

#AddressTable th {
  padding-top: 6px;
  font-weight: lighter;
  padding-bottom: 6px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

#AddressTable tr:nth-child(even){background-color: #f2f2f2;}
#AddressTable tr:hover {background-color: #ddd;}

#AddressTable td, #AddressTable th {
    border: 1px solid #ddd;
    padding: 8px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
